.rteImage {
	border: 1px dotted #eeeeee;
	margin-right: 1px;
	cursor: pointer;
	cursor: hand;
}

.rteImageRaised, .rteImage:hover {
	border: 1px outset;
	cursor: pointer;
	cursor: hand;
}

.rteImageLowered, .rteImage:active {
	border: 1px inset;
	cursor: pointer;
	cursor: hand;
}

.rteVertSep {
	margin: 0 4px 0 4px;
}

.rteBack {
	letter-spacing: 0;
	padding: 2px;
}

.rteBack tbody tr td, .rteBack tr td {
	padding: 0;
}

.rteDiv {
	display: block;
	position: relative;
}