body {
	background-color: #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #535353;
	margin : 0;
}
a:link {
	text-decoration : underline;
	color : #F38019;
}

a:visited {
	text-decoration : underline;
	color : #6B95CF;
}

a:hover {
	text-decoration : underline;
	color : #6B95CF;
}

div.header {
	height:				30px;
	width:					100%;
}

div.selected-topic {
	border-left: 4px solid #F38019;
	border-bottom : 1px solid #F38019;
	border-right: 4px solid #F38019;
	height:					20px;
	padding-left: 7px;
}

div.unselected-topic {
}

div.subject_from {
	border-bottom : 1px solid #F38019;
	border-left: 4px solid #F38019;
	height:					20px;
	padding-left: 7px;
}

div.subject {
	float:			left;
	color : #4D2B10;
	font : bold 18px Arial, Helvetica, sans-serif;
}

div.from {
	float:			right;
	color : #4D2B10;
	font : bold 13px Arial, Helvetica, sans-serif;
	padding-top: 5px;
	padding-right: 5px;
}

div.date {
	float:			right;
	color : #4D2B10;
	font : 12px Arial, Helvetica, sans-serif;
	padding-right: 5px;
}

.removeButton {
	padding-right : 5px;
}

div.content {
	padding-left : 13px;
}
div.title_bar {
	border-bottom : 1px solid #F38019;
	background-color : #606060;
	height: 28px;
}

div.list_name {
	float:			left;
	background-color : #F38019;
	color : #FFFFFF;
	font : bold 22px Arial, Helvetica, sans-serif;
	height : 28px;
	padding : 0px 12px 0px 10px;
}

#addlink {
	text-decoration : none;
	color : #FFFFFF;
	padding : 0px 8px 0px 8px;
	border-left : 2px solid #FFFFFF;
	border-right : 2px solid #FFFFFF;
}

.inputCaption {
	width: 60px;
	float: left;
}

.dropDownExpanderButton {
	font : bold 22px Arial, Helvetica, sans-serif;
	height : 28px;
	text-align: right;
	width: 100%;
	vertical-align: bottom;
}

.dropDownExpanderButton span {
	background-color: black;
	text-align: right;
	font : bold 13px Arial, Helvetica, sans-serif;
}

.dropDown {
	position: absolute;
	right: 5px;
	z-index: 2;
}

.dropDownContents {
	padding: 2px;
}

#postingForm {
	background-color: #999999;	
	padding: 10px;	
}

#sidebar {
	float: left;
}

#messages {
	margin-top: 30px;
	margin-left: 150px;
	margin-right:150px;
	padding: 20px;
}